.credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.personBlob {
    position: absolute;
    right: 10vw;
    top: 50%;
    transform: translateY(-50%);
}