.creditBlob {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.links {
    display: flex;
}

.blobBg {
    position: absolute;
    top: 0;
    left: 0;
}